@import "../_shared";

ul.pageMenu{
  text-align: center;
  padding-top: 0.25em;
  margin:1em;
  margin-top:.25em;

  border-top: 1px solid black;
  font-size: 1.3em;
  li{
    display:inline-block;
    padding:0 .5em;
    &.active{
      text-decoration:underline;
    }
    &:not(:hover){
      opacity:.8
    }


  }
  &#homeMenu{
    @extend .migrena;
    font-size: 2.5em;
    border:none;
    display:flex;
    flex-direction: column;

    li{
      flex:1;
      display:block;
      padding: 0.25em 0;
      &[data-url="/"]{
        display:none;
      }
      &[data-url="/cartes"] a{
        color:$colorA;
      }
      &[data-url="/agenda"] a{
        color:$colorB;
      }
      &[data-url="/creations"] a{
        color:$colorC;
      }
      &[data-url="/credits"] a{
        color:$colorD;
      }
    }
  }

}

.page:not(#homePage){
  .pageMenu{
    a{
      color:black;
    }
  }
}

.nav-arrow{
  width:1em;
  aspect-ratio: 1 / 1;
  &.down{
    transform: rotate(90deg);
  }
  &.up{
    transform: rotate(-90deg);
  }
  &.left{
    transform: rotate(180deg);
  }
}
