@import "../../_shared";

.mapboxgl-map{
  width:100%;
  height:100%;
  .mapboxgl-popup-close-button{
    font-size: 2em;
    width: 1em;
    height: 1em;
    text-align: center;
    opacity:.25;
    &:hover{
      background-color:inherit;
      opacity:1;
    }
  }
  .feature-popup{
    margin-top:1em;
  }
  .mapboxgl-popup-content{
    background:rgba(255,255,255,0.95);
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
  }
}

.site-logo{
  margin:auto;
  a{
    width:100%;
    height:100%;
    text-align:center;
    overflow:visible;
    position:relative;
    display:block;
    padding: 1.5em;
  }
  img{
    max-height:125px;
    height:100%;
    width:auto;
  }
}

#map-container{
	position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

.post-modal{
  height:80%;
  .content,.description,#feature-iframe{
    width:100%;
    height:100%;
  }
  .description{
    position:relative;
    z-index:1;
  }
  #BGPopup{
    position:absolute;
    top:0;
    left:0;
  }

}

.feature-card{

  .feature-icon {
    color: var(--feature-color,$featureColor);
  }

  .feature-header{

    .feature-title{
      font-weight: bold;
    }
    .feature-meta{
      color: grey;
      &.feature-terms{
        margin:0;
        padding:0;
        display: inline;
        list-style: none;

        li{
          display:inline-block;
          @extend .clickable;

          &:not(:last-child){
            margin-right:.5em;
          }
          .label{
            background:rgba(232,232,232,1);
            font-weight: normal;
            margin: 0.25em 0;
            font-size:.8em;
            padding: 0.4em 0.5em;
          }
          &.feature-tag .label{
            background:rgba(232,232,232, 0.5);
          }
        }
      }
    }
  }
  .feature-description{
    padding:.5em 0;
  }
}

.feature-popup{
  .feature-header{
    text-align: center;
    padding-bottom:.5em;
  }
  .popup-actions{
    text-align:center;
    border-top:1px solid lightgrey;
    padding-top:.5em;
  }
}

#mapBottom{
  z-index: 6;//above sidebar
  overflow:hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: $sidebarHandleWidth;
  bottom: $sidebarHandleWidth;
  background: rgba(255,255,255,0.8);
  width: calc(100% - #{$sidebarWidth} - #{$sidebarHandleWidth});
  padding: 0.5em;
  text-align:right;
  margin-bottom:auto;
  > *{
    margin-top:auto;
  }

  #mapBottomText{
    font-size:.8em;
  }
}
#layout.mobile{

  #mapBottom{
    width:calc(100% - 2 * #{$sidebarHandleWidth});
  }
}
