@import "../../_shared";

.mapboxgl-map{
  width:100%;
  height:100%;
  .mapboxgl-popup-close-button{
    font-size: 2em;
    width: 1em;
    height: 1em;
    text-align: center;
    opacity:.25;
    &:hover{
      background-color:inherit;
      opacity:1;
    }
  }
  .feature-popup{
    margin-top:1em;
  }
  .mapboxgl-popup-content{
    background:rgba(255,255,255,0.9);
  }
}

#map-container{
	position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

.sidebar{
  position: absolute;
  z-index: 5;
  background: white;
  height: 100%;
  padding-top: $logoContainerHeight;

  transition:margin-left .5s;
  &:not(.active){
    margin-left:$sidebarCollapsedMargin;
  }
  #sidebar-container {
    padding: .5em;

    width:#{$sidebarWidth};
    height:100%;
    display:flex;
    flex-direction: column;
    #sidebar-header{
    }
    #sidebar-content{
      display: flex;
      flex-direction: column;
      height:95%;//TOUFIX
      overflow: hidden;
      #map-header{
        margin-bottom:2em;
      }
      #map-menu{
        > * {
          padding: 1em 0.5em;
        }
        #map-menu-creations{
          .icon{
            color:#c6ad09;
          }
        }
        #map-menu-annotations{
          .icon{
            color:#0080ff;
          }
        }
      }
      #map-sections{
        overflow-y: auto;
        &.mapTransition{
          opacity:.5;
        }
        .map-section{
          display:flex;
          flex-direction: column;

        }
      }

    }
  }

  .sidebar-toggle {
    background:#666666;
    position: absolute;
    height: 100%;
    width: $sidebarHandleWidth;
    top: 0;
    left:$sidebarWidth;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.loading{
    .sidebar-toggle{
      pointer-events: none;
    }
  }

}

ul.features-selection{
  li{
    opacity:.75;
    &:hover{
      opacity:.85;
    }
    &.active{
      opacity:1;
    }
  }
}

#features-list{
  > li{
    @extend .clickable;

    padding: 0.5em;

    &:not(:last-child){
      border-bottom: 1px solid lightgrey;
    }
    transition:background-color .25s;

    .sorted-value{
      color: grey;
      text-align:right;
      font-size:.8em;
      margin:0;
    }

    .feature-card{
      .feature-description{
        display:none;
      }
    }


    .sortByText{
      color:grey;
      margin-right:1em;
    }
  }
}

#map-settings{
  > * {
    margin: 0 1em;
    &:not(:last-child){
      border-bottom:1px solid lightgrey;
      margin-bottom: 1em;
      padding-bottom: 1em;
    }

  }
  li{
    display:flex;
    padding: 0.25em 0;
    @extend .clickable;
  }

  #map-settings-orderby{
    li{
      .icon{
        opacity:.25;
      }
      &.active{
        font-weight: bold;
        .icon{
          opacity:1;
        }
      }
    }
  }

  #map-settings-tags,
  #map-settings-formats{
    li{
      .icon{
        opacity:.25;
      }
      &.active{
        .icon{
          opacity:1;
        }
      }
      .count{
        margin-left:.5em;
        color:grey;
      }
    }

  }
}

.marker-modal{
  height:80%;
  .content,.description,#marker-iframe{
    width:100%;
    height:100%;
  }

}



.feature-card{

  &[data-source="annotations"]{
    .feature-icon{
      color: #0080ff;
    }
  }

  &[data-source="creations"]{
    .feature-icon{
      color: #c6ad09;
    }
  }

  .feature-header{

    .feature-title{
      font-weight: bold;
    }
    .feature-meta{
      color: grey;
      &.feature-tags{
        margin:0;
        padding:0;
        display: inline;
        list-style: none;

        li{
          display:inline-block;
          &:not(:last-child){
            margin-right:.5em;
          }
          .label{
            font-weight: normal;
            margin: 0.25em 0;
            font-size:.8em;
            padding: 0.4em 0.5em;
          }
        }
      }
    }
  }
  .feature-description{
    padding:.5em 0;
  }
}

.feature-popup{
  .feature-header{
    text-align: center;
    padding-bottom:.5em;
  }
  .popup-actions{
    text-align:center;
    border-top:1px solid lightgrey;
    padding-top:.5em;
  }
}

#mapBottom{
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  width: calc(100% - #{$sidebarWidth} - #{$sidebarHandleWidth});
  padding: 0.5em;
  text-align:right;
  ul#mapLegend{
    margin-bottom: 0.5em;
    li{
      display:inline;
      .legend-source{
        &[data-source="annotations"]{
          .source-icon{
            color: #0080ff;
          }
        }

        &[data-source="creations"]{
          .source-icon{
            color: #c6ad09;
          }
        }
      }
      &:not(:last-child){
        margin-right: 1em;
      }
    }
  }
  #mapBottomText{
    font-size:.8em;
  }
}
