@import "../../_shared";

.sidebar{
  position: absolute;
  z-index: 5;
  background: white;
  height: 100%;
  transition:margin-left .5s, width .5s;
  width:$sidebarWidth;
  padding-right:$sidebarHandleWidth;

  .sidebar-toggle {
    background:$colorE;
    position: absolute;
    height: 100%;
    width: $sidebarHandleWidth;
    top: 0;
    right:0;
    color:$annotationsColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &:not(.active){
    margin-left:calc(#{$sidebarCollapsedMargin} + #{$sidebarHandleWidth});
  }

  #sidebar-container {
    padding: .5em;
    transition:padding-bottom .5s;

    height:100%;
    display:flex;
    flex-direction: column;
    #sidebar-header{
    }
    #sidebar-content{
      display: flex;
      flex-direction: column;
      height:95%;//TOUFIX
      overflow: hidden;
      #map-header{
        margin-bottom:2em;
        text-align:center;
      }
      #map-menu{
        > * {
          padding: 1em 0.5em;
        }
        #map-menu-creations{
          .icon{
            color:$creationsColor;
          }
        }
        #map-menu-annotations{
          .icon{
            color:$annotationsColor;
          }
        }
      }
      #map-sections{
        overflow-y: auto;
        &.mapTransition{
          opacity:.5;
        }
      }

      #features-list{
        columns: auto 200px;
        > li{
          @extend .clickable;
          break-inside: avoid;
          padding: 0.5em;

          &:not(:last-child){
            border-bottom: 1px solid lightgrey;
          }

          &.active{
            background-color: rgba(0,0,0,0.05);
          }

          transition:background-color .25s;

          .sorted-value{
            color: grey;
            text-align:right;
            font-size:.8em;
            margin:0;
          }

          .feature-card{
            .feature-description{
              display:none;
            }
          }


          .sortByText{
            color:grey;
            margin-right:1em;
          }
        }
      }

    }
  }

}

.mobile .sidebar{
  width:100%;
  &:not(.active){
    margin-left:calc(-100% + #{$sidebarHandleWidth});
  }
  #sidebar-container{
    padding-bottom: calc(#{$mapLegendHeight} + #{$sidebarHandleWidth} + 1em + 1em);//+padding+sextra
  }
}

#map-settings{
  > * {
    margin: 0 1em;
    &:not(:last-child){
      border-bottom:1px solid lightgrey;
      margin-bottom: 1em;
      padding-bottom: 1em;
    }

  }

}


#map-settings-orderby{
  li{
    .icon{
      opacity:.25;
    }
    &.active{
      font-weight: bold;
      .icon{
        opacity:1;
      }
    }
  }
}

ul#features-list,
.filters-section ul{
  li{
    opacity:.9;
    &:hover{
      opacity:1;
    }
  }
}

.filters-section{
  .title{
    display:flex;
    .filters-section-shortcuts{
      padding:0;
      margin:0;
      margin-left:auto;
      color: grey;
      font-size:0.8em;
      li{
        display:inline;
        padding:.1em;
      }
    }
    &:not(.active){
      .filters-section-shortcuts{
        display:none;
      }
    }
  }
  .content{
    margin-left:.5em;
  }
  li{
    line-height:2em;
    .icon.check{
      opacity:.25;
    }
    &.active{
      .icon.check{
        opacity:1;
      }
    }
    .filter-item-header{
      @extend .clickable;
    }
    .filter-item-description{
      opacity:.5;
    }
  }

}

#map-settings-layers{
  li{
    @extend .clickable;
    display:inline;

    > span{
      color:grey;

      &.active{
        color:black;
        &[data-layerid="annotations"]{
          .layer-icon{
            color: $annotationsColor;
          }
        }
        &[data-layerid="creations"]{
          .layer-icon{
            color: $creationsColor;
          }
        }
        &[data-layerid="events"]{
          .layer-icon{
            color: $eventsColor;
          }
        }
        &[data-layerid="partners"]{
          .layer-icon{
            color: $partnersColor;
          }
        }
      }

    }




    &:not(:last-child){
      margin-right: 1em;
    }
  }
}
