$sidebarWidth:300px;
$sidebarCollapsedMargin:-300px;
$logoContainerHeight:125px;
$sidebarHandleWidth:25px;
$mapLegendHeight:5.5em;

$colorA:#5bacdd;
$colorB:#007334;
$colorC:#fdc300;
$colorD:#e61f6f;

$creationsColor:#c6ad09;
$annotationsColor:#0080ff;
$eventsColor:#4fae32;

@font-face{
  font-family: 'Migrena Grotesque';
  src:  local('Migrena Grotesque Black'),
        url('./fonts/Migrena_Grotesque/Migrena_Grotesque-Black.woff') format('woff'),
        url('./fonts/Migrena_Grotesque/Migrena_Grotesque-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: 'Migrena Grotesque';
  src:  local('Migrena Grotesque Black Italic'),
        url('./fonts/Migrena_Grotesque/Migrena_Grotesque-Blackitalic.woff') format('woff'),
        url('./fonts/Migrena_Grotesque/Migrena_Grotesque-Blackitalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face{
  font-family: 'Brizeux';
  src:  local('Brizeux Normal Regular'),
        url('./fonts/brizeux/brizeux_normal-webfont.woff') format('woff'),
        url('./fonts/brizeux/brizeux_normal-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Brizeux';
  src:  local('Brizeux Gras Bold'),
        url('./fonts/brizeux/brizeux_gras-webfont.woff') format('woff'),
        url('./fonts/brizeux/brizeux_gras-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Brizeux';
  src:  local('Brizeux Italique Italic'),
        url('./fonts/brizeux/brizeux_italique-webfont.woff') format('woff'),
        url('./fonts/brizeux/brizeux_italique-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: 'Brizeux Signes';
  src:  local('Brizeux Signes Regular'),
        url('./fonts/brizeux/brizeux_signes-webfont.woff') format('woff'),
        url('./fonts/brizeux/brizeux_signes-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.migrena{
  font-family: 'Migrena Grotesque', 'Impact', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-weight:900;//black
  text-transform:uppercase;
}

.brizeux{
  font-family: 'Brizeux', Arial, Helvetica, sans-serif;
}

.clickable{
  cursor:pointer;
}

.freeze{
    pointer-events: none;
    opacity:.5;
}

.flash{
  animation: opacityPulse 0.5s linear infinite;
}

.flash-twice{
  animation: opacityPulse 0.2s linear 2;
}

.ui{
  &.page{
    &.dimmer{
      padding:0!important;//remove padding (for mobile)
    }
  }
}

.cover-img{
  background-position: center center;
  background-size: cover;
  background-repeat:no-repeat;
}
img.cover-img{
  vertical-align: top;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes opacityFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes opacityPulse {
    0% {opacity: 1;}
    50% {opacity: 0.5; }
    100% {opacity: 1;}
}
