.clickable{
  cursor:pointer;
}


.App{
  width:100%;
  height:100%;
}
#page-content{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
}

#map-container{
	flex:1;
	position:relative;
  margin:0;
  padding:0;
  width:100%;
}

$sidebarWidth:275px;
$sidebarHandleWidth:25px;
.sidebar{
  position: absolute;
  z-index: 2;
  background: white;
  height: 100%;
  display:flex;
  flex-direction: row;
  flex-basis:calc(#{$sidebarWidth} + #{$sidebarHandleWidth});

  transition:margin-left .5s;
  &:not(.active){
    margin-left:-$sidebarWidth;
  }
  #sidebar-container {
    padding: 1em;
    width:#{$sidebarWidth};
    display:flex;
    flex-direction: column;
    #marker-list{
      display:flex;
      flex-direction: column;
    }
    ul{
      overflow-y: auto;
    }
    #sidebar-header{
      height:20%;
    }
    #sidebar-content{
      display: flex;
      flex-direction: column;
      height:80%;

    }
    #map-header{
      margin-bottom:2em;
    }
  }

  .sidebar-toggle {
    background:#666666;
    flex-basis:$sidebarHandleWidth;
    flex-grow:0;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
  }
}

#marker-list{
  li{
    @extend .clickable;
    transition:background-color .25s;
    &:not(:last-child){
      border-bottom: 1px solid lightgrey;
      padding: 1em 0;
    }
    &:hover{
      background-color:rgba(0,0,0,0.025);
    }
    &.active{
      background-color:rgba(0,0,0,0.05);
    }
  }
}

#map-settings li{
  display:flex;
  padding: 0.25em 0;
  @extend .clickable;
}

#map-settings-orderby{
  li{
    .icon{
      opacity:.25;
    }
    &.active{
      font-weight: bold;
      .icon{
        opacity:1;
      }
    }
  }
}

#map-settings-tags{
  li{
    .icon{
      opacity:.25;
    }
    &.active{
      .icon{
        opacity:1;
      }
    }
    .count{
      margin-left:.5em;
      color:grey;
    }
  }

}

.marker-modal{
  >.content{
    max-height: 80vh;
    overflow: auto;
    .description{
      img{
        height:auto;
      }
      iframe{
        width:100%;
        margin:auto;
      }
    }
  }
}

#logo{
  margin:auto;
  width:50%;
  img{

  }
}
