@import "./_shared";

.slideRight-enter {
  transform: translateX(100%);
}
.slideRight-enter-active {
  transform: translateX(0%);
  transition: transform 500ms;
}
.slideRight-exit {
  transform: translateX(0%);
}
.slideRight-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms;
}

.slideLeft-enter {
  transform: translateX(-100%);
}
.slideLeft-enter-active {
  transform: translateX(0%);
  transition: transform 500ms;
}
.slideLeft-exit {
  transform: translateX(0%);
}
.slideLeft-exit-active {
  transform: translateX(100%);
  transition: transform 500ms;
}

.slideDown-enter {
  transform: translateY(100%);
}
.slideDown-enter-active {
  transform: translateY(0%);
  transition: transform 500ms;
}
.slideDown-exit {
  transform: translateY(0%);
}
.slideDown-exit-active {
  transform: translateY(-100%);
  transition: transform 500ms;
}

.slideUp-enter {
  transform: translateY(-100%);
}
.slideUp-enter-active {
  transform: translateY(0%);
  transition: transform 500ms;
}
.slideUp-exit {
  transform: translateY(0%);
}
.slideUp-exit-active {
  transform: translateY(100%);
  transition: transform 500ms;
}

//////////////////////

#layout{
  width:100%;
  height:100%;
  max-width: 100vw;
  max-height: 100vh;
}

.page{
  width: 100vw!important;
  height: 100vh!important;
  position: absolute;
  top: 0;
  left: 0;

  &.iframe-page{
    iframe{
      display: block;
      width:100%;
      height:100%;
      border:0 none;
    }
  }

  &:not(#singleMapPage){

    > .page-content{
        position:relative;
        width:75%;
        height:75%;
        margin-left:calc(#{$sidebarWidth} - 5%);
        margin-top::calc(#{$logoContainerHeight} - 5%);
        /*
        margin:auto;
        margin-left:$sidebarWidth;
        margin-top:100px;
        */

    }
  }

  &#homePage{

  }

  &#agendaPage{
    background-color:#b9dfff;
  }

  &#creditsPage{
    background-color:#ffb9b9;
  }

  &#mapListPage{
    background-color:#9eff9e;
    #maps-list-container{
      overflow:visible;
    }
  }

  &#singleMapPage{
  }
}


#map-post-container{
  display:flex;
  width:100%;
  height:100%;
}

#site-logo{
  z-index:10;
  position:absolute;
  width:$sidebarWidth;
  height:$logoContainerHeight;
  a{
    width:100%;
    height:100%;
    text-align:center;
    overflow:visible;
    position:relative;
    display:block;
  }
  img{
    height:100%;
    width:auto;
  }
}
